
.pink{
    background-color:rgba(0, 0, 0, 0.863);
    height: 3rem;
}
.back1{
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
} 
.back2{
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
   
} 
